.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 50%;
    max-width: 1000px;
    height: 300px;
    color: black;
    padding: 0% 3%;
}
.container:first-child {
    width: 100%;
    max-width: 2000px;
    justify-content: center;
}

.container:first-child > img[src=''], img:not([src]) {
    flex: 1;
}

.subTopContainer {
    display: flex;
    justify-content: space-between;
}

.subContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px;
}


.sliderContainer {
    height: 160px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px;
}

img {
    width: auto;
    height: 100%;
    border: 0;
}
img[src=''], img:not([src]) {
    opacity: 0;
}

.invisibleImageContainer {
    border: #aaaaaa 1px solid;
    height: 100%;
    flex: 1;
}

.chosenImage {
    border: #EA5555 2px solid;
}

.modalImageContainer {
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow-y:scroll;
}
.modalImageContainer > img {
    width: 25%;
    height: auto;
}

.blue {
    background: #4285F4;
    border-radius: 4;
    margin-bottom: 24;
    border: 0;
    overflow: hidden;
    opacity: 0.7;
  }
  
.red {
    background: #EA4335;
    border-radius: 4;
    margin-bottom: 24;
    border: 0;
    overflow: hidden;
    opacity: 0.7;
  }
  
.yellow {
    background: #FBBC05;
    border-radius: 4;
    margin-bottom: 24;
    border: 0;
    overflow: hidden;
    opacity: 0.7;
  }
  
.green {
    background: #34A853;
    border-radius: 4;
    margin-bottom: 24;
    border: 0;
    overflow: hidden;
    opacity: 0.7;
  }


.ant-radio-button {
    color: #222222;
}

.ant-radio-button-wrapper {
    font-weight: bold;
}
.ant-radio-button-wrapper-checked {
    background: black !important;
    color: white !important;
    font-weight: bolder;
}